.jumbotron {
  padding-top: 6rem;
  background-color: #9fa8cb;
}

#projects {
  background-color: #9fa8cb;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  padding-top: 5rem;
}
